* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

.header {
	width: 100%;
	height: 20vh;
	text-align: center;
	border-style: solid;
	border-width: 1%;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	color: DodgerBlue;
	background-image: url(Images/Banner2.png);
	background-position: center bottom;
	background-size: 100%;
	font-size: 0px;
}
.header p {
	display: inline-block;
	padding-right: 20px;
}

.footer {
	/* background-color: purple; */
	width: 100%;
	height: 8vh;
	text-align: center;
	border-style: solid;
	border-width: 1%;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	color: DodgerBlue;
}

.row {
	border-style: none solid none solid;
	border-color: DodgerBlue;
	width: 100%;
	font-size: 0px; /* This apparently prevents empty white space between the 3 columns and the footer */
}

.column1 {
	display: inline-block;
	width: 16%;
	height: 70vh;
	/* background-color: red; */
	text-align: center;
	overflow: hidden; /* This prevents the element from snapping out of place somehow */
	font-size: 2vw;
	transition: 0.5s;
}

.column2 {
	display: inline-block;
	width: 2%;
	height: 70vh;
	/* background-color: green; */
	overflow: hidden; /* This prevents the element from snapping out of place somehow */
	transition: 0.5s;
}

.column3 {
	display: inline-block;
	width: 82%;
	height: 70vh;
	/* background-color: blue; */
	padding: 1%;
	overflow: auto;
	font-size: 20px;
	color: DodgerBlue;
	transition: 0.5s;
}

.NavToggleButton {
	display: table-cell;
	background-color: DodgerBlue;
	border-color: DodgerBlue;
	width: 100%;
	height: 100%;
}

/* Scrollbar Width */
::-webkit-scrollbar {
	width: 20px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
	border-style: solid;
	border-radius: 10px;
	border-color: DodgerBlue
}
/* The Actual Scrollbar */
::-webkit-scrollbar-thumb {
	background: DodgerBlue;
	border-radius: 10px;
}

.name {
	font-size: 65px;
	display: inline-block;
	position: relative; 
	top: -40%;
}

.profile {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 20vh;
	height: 20vh;
	border-style: solid;
	border-color: DodgerBlue;	
}

.descriptions {
	display: inline-block;
	font-size: 35px;
	position: relative; 
	top: -20%;	
}

.NavButton {
	background-color: DodgerBlue;
	color: black;
	text-align: center;
	padding: 2%;
	width: 80%;
	height: 25%;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 5%;
}

.ColButton {
	background-color: DodgerBlue;
	color: black;
	width: 90%;
	height: 12%;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

.CollapseSection {
	display: none;
	width: 90%;
	padding-left: 1%;
	border-style: solid;
	border-color: DodgerBlue;	
}

A {
	Color: DodgerBlue;
}